body {
    background-image: url("https://i.pinimg.com/originals/8c/0f/a0/8c0fa076fe0ee9c29d14b6c4bd867e7c.jpg");
}

body {
    color: white background-color: blue;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

hr {
    color: white;
}

img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    size: 50px;
}

fieldset {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    border: 2px groove (internal value);
    color: white;
}

ul {
    display: flex;
    justify-content: center;
    border: white;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

ul li {}

ul li a {
    display: block;
    padding: 5px 10px;
    color: white
}

h2,
p,
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: lighter;
    text-align: center;
}

div class="gallery" {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    display: inline-block;
    width: 55px;
}

p class="parrafo3" {}